<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Formulário de Registro de Partida</h1>
    <form action="partidas" method="post">
        <label>Local:</label>
        <input id="local" name="local" type="text"><br>
        <label>Inicio:</label>
        <input id="inicio" name="inicio" type="datetime-local"><br>
        <label>Fim:</label>
        <input id="fim" name="fim" type="datetime-local"><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>